.container {
    display: flex;
    height: calc(100vh - 12rem);
    margin-top: 8rem;
    width: calc(100vw - 22rem);
    flex-flow: column;
    padding: 2rem;

    color: #000;
}

.title{
    height: 2.5rem;
    width: calc(100% - 2rem);
    border-radius: 0.2rem;
    border:none;
    font-size: 2.5rem;
    padding: 1rem 1rem 0.7rem 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 2rem;
}