@import "~font-awesome/css/font-awesome.css";

body {
    position: relative;
    color: white;
    background: #000000 linear-gradient(45deg, rgba(55, 71, 79, 0.5) 10%, rgba(69, 90, 100, 0.7));
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    overflow: hidden;
    margin: 0;
}

a {
    color: white;
    opacity: .75;
    text-decoration: none;
    -webkit-app-region: no-drag;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.CodeMirror {
    height: 100%;
    z-index: 2;
    -webkit-app-region: no-drag;
}

.editor-toolbar{
    background-color: #ffffff;
}

#frame{
    margin-left: 1px;
    width: calc(100% - 1px);
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

#frame > .menu{
    -webkit-app-region:  no-drag;
    z-index: 1;
    padding: 0.7rem;
    height: calc(0.8rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

#frame > .menu > img{
    height: 0.6rem;
}

#frame > .menu > img:hover{
    fill: red;
}

#frame > #minimize:hover{
    background: #212121;
}
#frame > #maximize:hover{
    background: #212121;
}
#frame > #close:hover{
    background: #D50000;
}