@import "~font-awesome/css/font-awesome.css";

body {
    position: relative;
    color: white;
    background: #000000 linear-gradient(45deg, rgba(55, 71, 79, 0.5) 10%, rgba(69, 90, 100, 0.7));
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    overflow: hidden;
    margin: 0;
}

a {
    color: white;
    opacity: .75;
    text-decoration: none;
    -webkit-app-region: no-drag;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.CodeMirror {
    height: 300px;
    z-index: 2;
    -webkit-app-region: no-drag;
}

.editor-toolbar{
    background-color: #ffffff !important;
}

#frame{
    height: 2rem;
    width: 100%;
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

#frame > .menu{
    width: 2rem;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
    font-size: 0.8rem;
    transition: all 0.1s;
    cursor: pointer;
    -webkit-app-region:  no-drag;
    z-index: 1;
}

#frame > #minimize:hover{
    background: #212121;
}
#frame > #maximize:hover{
    background: #212121;
}
#frame > #close:hover{
    background: #D50000;
}